body {
    background-color: #F29441;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}

div {
    border: 3px #F26D3D solid;
    display:inline-block;
}

img {
    border-radius: 10% / 50%;
    padding: 40px;
}

.inspiration {
    background-color: #D9A23D;
}

#title {
    font-size: 15px;
    background-color: #F26D3D;
    color: #D9A23D;
    margin: auto;
    padding: 15 px;
}

#h1 {
    font-size: 40px;
    background-color: #F26D3D;
    color: #D9A23D;
    margin: auto;
    padding: 15 px;
}

.bloop{
    height:100px;
    width: 100px;
    border-radius: 10% / 50%;
    display: inline-block;
}

.bloop.one {
    background-color: #8E38A6;
    border-radius: 10% / 50%;
}

.bloop.two {
    background-color: #D9A23D;
    border-radius: 10% / 50%;
}

.bloop.three {
    background-color: #F29441;
    border-radius: 10% / 50%;
}

.bloop.four {
    background-color: #F26D3D;
    border-radius: 10% / 50%;
}

.purple {
    border-radius: 50%;
    background-color: #8E38A6;
    width: 400 px;
    height: 400 px;
}